body{
  background-image: url(https://i.gifer.com/GIWH.gif);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  width: auto;
  height: auto;
  background-color: rgba(140, 140, 151, 0.541);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
}

.climate{
  text-align: left;
}
.icon{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.climate-icon{
  width: 50px;
  height: 50px;
}
